.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  margin: 0px auto;
}

.App-header {
  margin: 20px 0;
  font-size: calc(35px + 2vmin);
  font-family: 'Libre Barcode 128 Text', cursive;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.App-footer {
  margin-top: 10px;
  height: 20px;
  font-size: 0.8rem;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
}
