
.CommandLog-wrapper {
  padding: 10px 15px;
}

.CommandLog-text-path {
  margin: 0 0 5px 0;
  color: #57c7fe;
}

.CommandLog-text-arrow {
  display: inline-block;
  width: 15px;
  margin: 0 0 5px 0;
  font-weight: 700;
  color: #5af78d;
}

.CommandLog-text-input {
  width: calc(100% - 30px);
  margin-left: 10px;
  color: #ff5b56;
}

.right {
  color: #5af78d;
}

.Source-list {
  margin: 0 0 5px 0;
  padding: 0;
  list-style: none;
}

.Source-list-item {
  display: inline-block;
  margin-right: 15px;
  font-size: 0.8rem;
  color: #f1f1f0;
  cursor: pointer;
}

.Source-list-item > span:first-child {
  color: #9aecfe;
}

.Source-select {
  display: inline-block;
  margin: 0 0 5px 0;
  font-weight: 700;
  color: #5af78d;
}

.Source-text {
  margin: 0 0 5px 0;
  color: #f1f1f0;
}