.CommandLog-wrapper {
  padding: 10px 15px;
}

.CommandLog-text-path {
  margin: 0 0 5px 0;
  color: #57c7fe;
}

.CommandLog-text-arrow {
  display: inline-block;
  width: 15px;
  margin: 0 0 5px 0;
  font-weight: 700;
  color: #5af78d;
}

.CommandLog-text-input {
  width: calc(100% - 30px);
  margin-left: 10px;
  color: #ff5b56;
}

.CommandLog-text-input.right {
  color: #5af78d;
}
