.Contents-list {
  padding-left: 5px;
  font-size: 0.9rem;
  color: #f1f1f0;
  list-style: none;
}

.Contents-list-item {
  margin-bottom: 10px;
}

.Contents-list-item-index {
  display: inline-block;
  margin-right: 10px;
  text-align: right;
}

.Contents-list-item-title {
  margin: 0;
  cursor: pointer;
}

.Contents-list-item-subInfo {
  margin-left: 25px;
}

.Contents-list-item-subInfo > span {
  margin: 0px 3px;
  font-size: 0.7rem;
  color: #f1f1f0b2;
  word-break: break-all;
}

.Contents-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.Contents-card-item {
  width: 150px;
  min-height: 180px;
  margin: 0 10px 50px 10px;
  padding: 5px;
  border: 1px dotted white;
}

.Contents-card-item > span {
  display: inline-block;
  padding: 5px;
  word-break: break-all;
}

.Contents-card-item-img {
  filter: grayscale(1);
  background-size: cover;
  background-position: center center;
  width: 150px;
  height: 85px;
  cursor: pointer;
}

.Contents-card-item-title {
  display: inline-block;
  font-size: 0.8rem;
  color: #f1f1f0;
  cursor: pointer;
}

.Contents-card-item-author {
  font-size: 0.7rem;
  color: #f1f1f0b2;
}

.Contents-empty {
  margin-top: 50px;
  text-align: center;
}
