.Modal-background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: auto;
}

.Modal-contents {
  overflow: auto;
  width: 65%;
  height: 80%;
  padding: 25px;
  border-radius: 10px;
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
}

.Modal-contents-title {
  font-size: 1.5rem;
  margin: 20px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.Modal-contents-info-wrapper {
  display: flex;
  height: 40%;
  margin-bottom: 30px;
  font-size: 0.9rem;
}

.Modal-contents-image {
  width: 40%;
  border-radius: 10px;
  background-size: cover;
  background-position: center center;
}

.Modal-contents-subInfo-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  max-width: 60%;
  padding: 10px 0px 0px 10px;
}

.Modal-contents-subInfo > span{
  margin-bottom: 10px;
  color: gray;
  word-break: break-all;
}

.Modal-contents-subInfo > span {
  display: inline-block;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.8);
}

.Modal-contents-subInfo > span:first-child {
  color: gray;
}

.Modal-contents-main > p {
  margin-top: 5px;
  text-align: left;
  font-size: 0.9rem;
}

.Modal-contents-main-description,
.Modal-contents-main-content {
  color: gray;
  margin: 0;
}
